header {
	display: flex;
	justify-content: flex-end;

}

a {
  margin-left: 10px;
}

#app-img {
	height: 30px;
	width: 30px;
}

div.flex-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: yellow; */
}

div.flex-item {
  margin-bottom: 20px;
  /* background: green; */
}

#google-img {
  height: 92px;
  width: 272px;
}

#search-bar {
  size: 55;
  width: 400px;
}

html, body {
  height: 100%;
}
